{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{{ url("homepage") }}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:index") }}">Livres</a></li>
    <hr>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:read", {'id': book.id}) }}">Retour</a></li>
{% endblock %}

{% block content %}
    <br>
    Liste des livres
{% endblock %}